@use '../../assets/styles/styles.scss' as *;


.slider{
    margin-top: $header-height;
}
.clock{
    display: flex;
}
#bar1, #bar2, #bar3, #clock-container {
  scroll-margin-top: $header-height; /* bằng chiều cao header */
}