@use '../../assets/styles/styles.scss' as *;


.slider{
    margin-top: $header-height;
}
.clock{
    display: flex;
}
#nav1, #nav2, #nav3, #clock-container {
    height: 1000px;
    scroll-margin-top: $header-height; /* bằng chiều cao header */
}